
body {
    background-attachment: fixed;
    background-image: url(images/busy-street-6378.gif);
    background-repeat: no-repeat;
    background-position: center top;
}

body.adminPages {
    background-attachment: fixed;
    background-image: url(images/admin.gif);
    background-repeat: no-repeat;
    background-position: center top;
}

body.loginPages {
    background-image: none;
}

#container {
    width: 90%;
    min-height: 300px;
    margin: 50px auto;
    box-shadow: 2px 2px 10px #888;
    background: url(images/bg_solid.png);
    padding-bottom: 30px;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    font-style : normal;
    border-radius: 3px 3px 3px 3px;
}

#containerLogin {
     width: 65%;
     min-height: 250px;
     margin: 50px auto;
     box-shadow: 2px 2px 10px #888;
     background: whitesmoke;
     padding-bottom: 30px;
     font-family: Verdana;
     font-size: 12px;
     font-weight: normal;
     font-style : normal;
     border-radius: 3px 3px 3px 3px;
 }

#containerAdmin {
    width: 80%;
    min-height: 300px;
    margin: 50px auto;
    box-shadow: 2px 2px 10px #888;
    background: whitesmoke;
    padding-bottom: 30px;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    font-style : normal;
    border-radius: 3px 3px 3px 3px;
}

#header {
    height: 60px;
    background: url(images/logo.png) 10px 10px no-repeat #001D4E; /*url(images/bg_city.png) no-repeat 100%;*/
    background-size: 65px;
    color: snow;
    padding: 5px;
    text-shadow: 0px 0px 2px white;
    border-radius: 3px 3px 0 0;
    position: relative;
}

#headerLogin {
     height: 60px;
     background: url(images/logo.png) 10px 10px no-repeat #000; /*url(images/bg_city.png) no-repeat 100%;*/
     background-size: 65px;
     color: snow;
     padding: 5px;
     text-shadow: 0px 0px 2px white;
     border-radius: 3px 3px 0 0;
     position: relative;
 }

#headerAdmin {
    height: 60px;
    background: url(images/logo.png) 10px 10px no-repeat #000123; /*url(images/bg_city.png) no-repeat 100%;*/
    background-size: 65px;
    color: snow;
    padding: 5px;
    text-shadow: 0px 0px 2px white;
    border-radius: 3px 3px 0 0;
    position: relative;
}

#headerGroup {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.companyName {
    text-align: left;
    text-shadow: 0px 0px 4px #ea5e0d;

}

.headerText {
    text-align: center;
}

#line {
    width: 100%;
    height: 10px;
    background: #ea5e0d;
}

#mainMenu {
    width: 100%;
    height: 40px;
    background: #ea5e0d;
}

#mainMenuPanel {
    width: 100%;
}

/*.menuBtnClass, .tableOrderBtnClass, .contactsBtnClass {
    width: 33%;
    height: 80%;
}*/

.lnk {
    border-spacing: 2px;
    border-color: gray;
    font-family: arial;
    background: linear-gradient(to bottom, #ffdb00 0%, #ffa901 96%, #f8a200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb00', endColorstr='#f8a200', GradientType=0);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    color: #000;
    height: 27px;
    line-height: 27px;
    padding: 5px 15px;
    width: 80%;
}

.dishImage {
    max-height: 120px;
    width: auto;
}

/*.ui-widget-header,
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a{
    background: #ff8106 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0.2)));
}*/

/*.ui-widget-header,
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a{
    background-color: #f6a629;
}*/


/*li.ui-tabmenuitem.ui-state-default.ui-state-active {
    background: #ff8106 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0.5)));
}*/

.menuPanel {
    width: 100%;
    vertical-align: top;
}

.menuNavigationPanel {
    width: 250px;
    padding: 30px;
    vertical-align: top;

}

.dishPanel {
    padding: 20px;
}

.foodCategoryLnk {
    display: block;
    cursor: pointer;
    width: 200px;
    position: relative;
    left: 25px;
    text-align: center;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ffdb00 0%, #ffa901 96%, #f8a200 100%);
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);

}

.foodCategoryBtn {
    background: linear-gradient(to bottom, #ffdb00 0%, #ffa901 96%, #f8a200 100%);
}

.textLnk {
    text-decoration: none;
    color: snow;
}

.centeredText {
    text-align: center;
}

.centeredTable {
    margin: 0 auto;
}

.centeredTitleText {
    text-align: center;
    font-size: 22px;
    color: hsl(35, 100%, 30%);
    background: hsl(35, 60%, 80%);
    padding: 5px;
}

.ekafe {
    position: absolute;
    top: 18px;
    left: 90px;
    font-size: 28px;
    font-weight: bold;
    color: snow;
    text-shadow: 0px 0px 2px #ea5e0d;
}

.headerText {
    position: relative;
    padding-top: 14px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: snow;
    text-shadow: 0px 0px 2px white;
}

.shoppingCart {
    position: absolute;
    top: 18px;
    right: 40px;
    font-size: 12px;
    font-weight: normal;
}

table.cartTable {
    margin: 20px auto 20px auto;
    font-size: 16px;
}

.changeQuantityBtn {
    width: 20px;
    padding: 0;
    text-align: center;
}

.centeredBlock {
    text-align: center;
}

.submittedOrderText {
    font-size: 24px;
}

.note {
    position: relative;
    width: 50%;
    padding: 1em 1.5em;
    margin: 2em auto;
    color: #fff;
    background: #97C02F;
    overflow: hidden;
}

.note:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #658E15 #658E15;
    background: #658E15;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
}

.note.rounded {
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}

.note.rounded:before {
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.error_message {
    color: red;
    font-family: Tahoma, Arial;
    font-size: 14px;
}


.loginStatus {
    position: absolute;
    top: 11px;
    right: 40px;
}

.loginContainer {
    padding: 50px 0;
}

.loginPanel {
   margin: auto;
}

.lockImg {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    width: auto;
}

.unlockImg {
    position: absolute;
    top: 5px;
    right: 0px;
    height: 36px;
    width: auto;
}

.welcomeContainer {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 30px;
}

.welcomePageText {
    text-shadow:1px 2px 2px rgba(235,180,3,0.7);
    font-weight:bold;
    color:#FFFFFF;
    letter-spacing:0pt;
    word-spacing:0pt;
    font-size:42px;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:1;
    padding: 30px;
    background-image: url("images/e-kafe_img.png");
}

.welcomeImage {
    border: 5px;
    border-color: #ffffff;
}

.welcomeMenuImage {
    width: 170px;
    height: auto;
    margin: 0 4px;
}

.welcomePageMenu {
    margin: 0 auto;
}

.welcomeMenuLink {
    font-weight:normal;
    color:#1E3261;
    font-size:17px;
    text-align:center;
    font-family:trebuchet MS, sans-serif;
    text-decoration: none;
}

#welcomeMenuForm {
    margin-top: 30px;
}

.navigationHeader {
    text-align: center;
    height: 20px;
}

.navigationHeaderButton {
    width: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    background: linear-gradient(to bottom, #ffcc37 0%, #ff9500 96%, #f88a00 100%);
    font-family: arial;
    font-size: 21px;
    font-weight: bold;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.headerNavigationColumns {
    width: 20%;
}

.buttonMedium {
    font-size: 20px;
    border-radius: 2px;
}

.dishName {
    font-size: 24px;
    font-weight: bold;
}

#adminMenuPanel {
    width: 100%;
}

.adminNavigationHeaderButton {
    width: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    background: linear-gradient(to bottom, #e7e7e9 0%, #c7bebf 96%, #7b7777 100%);
    font-family: arial;
    font-size: 21px;
    font-weight: bold;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.adminNavigationHeader {
    text-align: center;
    height: 20px;
}

.dishNameMenu {
    margin: 20px;
    font-weight: bold;
}

/*
 * Open Faces Styles
*/
.dataTableSelectedRow {
    background: url("OpenFacesImages/treetable/selected.gif") repeat-x #5d8bba !important;
    color: white !important;
}