<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general_admin.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Admin Menu Panel"/>
        </t:div>
        <t:div styleClass="loginStatus">
            <h:graphicImage library="images" name="unlocked.png" styleClass="unlockImg"/>
        </t:div>
    </ui:define>


    <ui:define name="content">
        <t:div styleClass="centeredText">
            <h:form>
                <h:outputText value="Current Orders:" style="font-size: 24px; font-weight: bolder"/>
                <o:dataTable var="orderItem"
                             value="#{orderItemBean.orderItems}"
                             rowKey="#{orderItem.id}"
                             style="margin: 0 auto">
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Order Date/Time"/>
                        </f:facet>
                        <h:outputText value="#{orderItem.restaurantOrder.dateTimeSubmit}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
                        </h:outputText>
                    </o:column>
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Dish"/>
                        </f:facet>
                        <h:outputText value="#{orderItem.dish.name}"/>
                    </o:column>
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Quantity"/>
                        </f:facet>
                        <h:outputText value="#{orderItem.quantity}"/>
                    </o:column>
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Dish Price"/>
                        </f:facet>
                        <h:outputText value="#{orderItem.dishPrice}">
                            <f:convertNumber pattern="#0.00"/>
                        </h:outputText>
                    </o:column>
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Total"/>
                        </f:facet>
                        <h:outputText value="#{orderItem.quantity * orderItem.dishPrice}">
                            <f:convertNumber pattern="#0.00"/>
                        </h:outputText>
                    </o:column>
                </o:dataTable><br/><br/>
            </h:form>
        </t:div>
    </ui:define>
</ui:composition>
