<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general_admin.general_login.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Staff"/>
        </t:div>
        <t:div styleClass="shoppingCart">
            <h:graphicImage library="images" name="white_padlock.png" style="height: 100px; width: auto"/>
        </t:div>
    </ui:define>


    <ui:define name="content">
        <t:div styleClass="centeredText">
            <h:form id="loginForm" style="padding: 20px 0">
                <h:panelGrid columns="3">
                    <h:outputText value="Sorry, Username or Password is incorrect!" /><br/><br/>
                    <h:outputText value="Please try again." /><br/><br/>
                    <h:commandButton value="Back to login" action="login" />
                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>
</ui:composition>
