<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general_admin.xhtml">

    <ui:define name="title"><h:outputText value="Edit Dishes"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Edit Dishes"/>
        </t:div>
        <t:div styleClass="loginStatus">
            <h:graphicImage library="images" name="unlocked.png" styleClass="unlockImg"/>
        </t:div>
    </ui:define>


    <ui:define name="content">
        <t:div styleClass="centeredText">
            <h:form>
                <h:outputText value="Dishes:" style="font-size: 24px; font-weight: bolder"/>
                <o:dataTable var="dish"
                             value="#{dishBean.allDishes}"
                             rowKey="#{dish.id}"
                             style="margin: 0 auto">
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Name"/>
                        </f:facet>
                        <h:inputText value="#{dish.name}" size="12" rendered="#{dish.editable}"/>
                        <h:outputText value="#{dish.name}" rendered="#{not dish.editable}"/>
                    </o:column>
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Description"/>
                        </f:facet>
                        <h:inputTextarea value="#{dish.description}" size="10" rendered="#{dish.editable}"/>
                        <h:outputText value="#{dish.description}" rendered="#{not dish.editable}"/>
                    </o:column>
                    <o:column>
                        <f:facet name="header">
                            <h:outputText value="Actions"/>
                        </f:facet>
                        <h:panelGroup id="foodCategoryActions">
                            <h:commandButton value="Edit" action="#{dishBean.editAction(dish)}"
                                             rendered="#{not dish.editable}"/>
                            <h:commandButton value="Delete" action="#{dishBean.delete(dish.id)}"/>
                        </h:panelGroup>
                    </o:column>
                </o:dataTable><br/><br/>
                <h:commandButton value="Save Changes" action="#{dishBean.saveAction}"/><br/><br/><br/>
            </h:form>

            <h:form>
                <h:outputText value="Add New Dish:" style="font-size: 24px; font-weight: bolder"/>
                <h:panelGrid id="addPanelGrid" columns="2" style="margin: 0 auto">
                    <h:panelGroup>
                        <h:outputText value="Name:"/>
                        <h:outputText style="color:red" value="*  "/>
                    </h:panelGroup>
                    <o:inputText id="name"
                                 value="#{dishBean.name}"
                                 required="true"
                                 style="background: beige; border: 2px solid brown; color: brown; font-weight: bold;"
                                 promptText="Dish Name"
                                 promptTextStyle="font-style: italic; color: #7e7e7e;"
                                 focusedStyle="border: 2px solid orange;">
                        <f:validateLength minimum="2"/>
                    </o:inputText>
                    <h:panelGroup>
                        <h:outputText value="Description:"/>
                        <h:outputText value="   "/>
                    </h:panelGroup>
                    <o:inputText id="description"
                                 value="#{dishBean.description}"
                                 style="background: beige; border: 2px solid brown; color: brown; font-weight: bold;"
                                 promptText="Dish Description"
                                 promptTextStyle="font-style: italic; color: #7e7e7e;"
                                 focusedStyle="border: 2px solid orange;">
                        <f:validateLength minimum="2"/>
                    </o:inputText>
                    <h:panelGroup>
                        <h:outputText value="Made By Kitchen:"/>
                        <h:outputText value="   "/>
                    </h:panelGroup>
                    <o:selectBooleanCheckbox value="#{dishBean.kitchenMade}">
                        <h:outputText value="Made by Kitchen"/>
                    </o:selectBooleanCheckbox><br/>
                    <o:commandButton id="createNewDishBtn" action="#{dishBean.createDish}"
                                     value="Create"
                                     style="margin-top: 10px"/>

                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>
</ui:composition>
