<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Our menu"/>
        </t:div>
        <t:div styleClass="shoppingCart">
            <h:form id="headerCartInfo">
                <h:panelGrid columns="2">
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:graphicImage library="images" name="shopping_cart.png"/>
                    </h:commandLink>
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:panelGroup>
                            <h:outputText id="cartSizeHeader" value="#{cartBean.cartCount} item(s)"/><br/>
                            <h:outputText id="cartTotalPriceHeader" value="#{cartBean.cartTotalPrice} UAH">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText><br/>
                        </h:panelGroup></h:commandLink>
                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>


    <ui:define name="content">
        <h:panelGrid columns="3">
            <h:outputLabel value="Username"/>
            <h:inputText value="" required="true" requiredMessage="Please, enter your username" id="userNameInput"></h:inputText>
        </h:panelGrid>
    </ui:define>
</ui:composition>
