<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general_login.xhtml">

    <ui:define name="title"><h:outputText value="Login Page"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Login"/>
        </t:div>
        <t:div styleClass="loginStatus">
            <h:graphicImage library="images" name="white_padlock_2.png" styleClass="lockImg"/>
        </t:div>
    </ui:define>

    <ui:define name="content">
        <t:div styleClass="loginContainer">
            <h:form id="loginForm">
                <h:panelGrid columns="3" styleClass="loginPanel">
                    <h:outputLabel value="Username"/>
                    <h:inputText value="#{loginBean.userName}" required="true" id="Username" requiredMessage="Enter username"/>
                    <h:message for=":loginForm:username" styleClass="error_message"/>

                    <h:outputLabel value="Password"/>
                    <h:inputSecret value="#{loginBean.password}" required="true" id="Password" requiredMessage="Enter password" />
                    <h:message for=":loginForm:password" styleClass="error_message"/>

                    <h:outputLabel value=""/>
                    <h:commandButton value="Login" action="#{loginBean.processLogin}"/>
                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>
</ui:composition>
