<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general_admin.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Set Dish Prices"/>
        </t:div>
        <t:div styleClass="loginStatus">
            <h:graphicImage library="images" name="unlocked.png" styleClass="unlockImg"/>
        </t:div>
    </ui:define>


    <ui:define name="content">
        <t:div styleClass="centeredText">
            <h:outputText value="Dish Prices Management" style="font-weight: bold; font-size: 28px"/><br/><br/>
            <h:form>
                <h:dataTable binding="#{dishBean.dataTable}"
                             var="dish"
                             value="#{dishBean.all}"
                             styleClass="centeredTable">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Food Category"/>
                        </f:facet>
                        <h:outputText value="#{dish.foodCategory.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Name"/>
                        </f:facet>
                        <h:outputText value="#{dish.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Dish Price"/>
                        </f:facet>
                        <h:outputText value="#{dishPriceBean.getLastActualDishPriceValue(dish)}">
                            <f:convertNumber pattern="#0.00"/>
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Date/Time"/>
                        </f:facet>
                        <h:outputText value="#{dishPriceBean.getLastActualDishPriceDate(dish)}">
                            <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Action"/>
                        </f:facet>
                        <h:commandLink value="Edit" action="#{dishBean.editDataItem}"/>
                    </h:column>
                </h:dataTable>
            </h:form>
        </t:div>
    </ui:define>
</ui:composition>
