<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general_admin.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Set New Dish Price"/>
        </t:div>
        <t:div styleClass="loginStatus">
            <h:graphicImage library="images" name="unlocked.png" styleClass="unlockImg"/>
        </t:div>
    </ui:define>


    <ui:define name="content">
        <t:div styleClass="centeredText">
            <h:outputText value="Set New Price For A Dish" style="font-weight: bold; font-size: 28px"/><br/><br/>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="ID" />
                    <h:outputText value="#{dishBean.dataItem.id}" />

                    <h:outputText value="Name" />
                    <h:inputText value="#{dishBean.dataItem.name}" />

                    <h:outputText value="Value" />
                    <h:inputText value="#{dishBean.dataItem.description}" />
                </h:panelGrid>

                <h:inputHidden binding="#{dishBean.dataItemId}" />
                <h:commandButton value="Save" action="#{dishBean.saveDataItem}" />
            </h:form>
         </t:div>
    </ui:define>
</ui:composition>
