<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view contentType="text/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title><ui:insert name="title"/></title>
        <link rel="stylesheet" type="text/css" href="${request.contextPath}/resources/css/style.css"/>
        <link rel="shortcut icon" href="${request.contextPath}/resources/css/images/favicon.ico"/>
    </h:head>

    <h:body styleClass="loginPages">
        <div id="containerLogin">
            <div id="greeting">
            </div>
            <div id="headerLogin">
                <ui:insert name="header"/>
            </div>
            <div id="line"/>
            <div id="content">
                <ui:insert name="content"/>
            </div>
            <div id="footer">
                <ui:insert name="footer"/>
            </div>
        </div>

    </h:body>
</f:view>
</html>