<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Your Shopping Cart"/>
        </t:div>
        <t:div styleClass="shoppingCart">
            <h:form id="headerCartInfo">
                <h:panelGrid columns="2">
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:graphicImage library="images" name="shopping_cart.png"/>
                    </h:commandLink>
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:panelGroup>
                            <h:outputText id="cartSizeHeader" value="#{cartBean.cartCount} item(s)"/><br/>
                            <h:outputText id="cartTotalPriceHeader" value="#{cartBean.cartTotalPrice} UAH">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText><br/>
                        </h:panelGroup></h:commandLink>
                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>


    <ui:define name="content">

        <t:div styleClass="centeredTitleText">
            <h:outputText value="Your cart has "/>
            <h:outputText id="cartSizeBody" value="#{cartBean.cartCount} item(s)" style="font-weight: bold"/><br/>
            <h:outputText value="Total value "/>
            <h:outputText id="cartTotalPriceBody" value="#{cartBean.cartTotalPrice} UAH" style="font-weight: bold">
                <f:convertNumber pattern="#0.00"/>
            </h:outputText><br/>
        </t:div>

        <h:form id="cartTableForm" rendered="#{cartBean.cartCount > 0}">
            <o:dataTable var="cartItem"
                         value="#{cartBean.cartItems}"
                         rowKey="#{cartItem.dish.id}"
                         styleClass="cartTable"
                         headerRowStyle=""
                         bodyRowStyle="">
                <o:column>
                    <f:facet name="header">
                        <h:outputText value="Dish"/>
                    </f:facet>
                    <h:commandLink value="#{cartItem.dish.name}"
                                   action="#{dishBean.getDishDetails(cartItem.dish.id)}"
                                   style="padding: 3px 10px 3px 10px"/>
                </o:column>
                <o:column>
                    <f:facet name="header">
                        <h:outputText value="Price"/>
                    </f:facet>
                    <h:outputText value="#{cartItem.decimalPrice}"
                                  style="padding: 3px 10px 3px 10px">
                        <f:convertNumber pattern="#0.00"/>
                    </h:outputText>
                </o:column>
                <o:column>
                    <h:commandButton value="-" action="#{cartBean.remove(cartItem.dish)}"
                                     styleClass="changeQuantityBtn">
                        <f:ajax execute="@all"
                                render=":headerCartInfo:cartSizeHeader :headerCartInfo:cartTotalPriceHeader :cartSizeBody :cartTotalPriceBody :cartTableForm"/>
                    </h:commandButton>
                </o:column>
                <o:column>
                    <f:facet name="header">
                        <h:outputText value="Q-ty"/>
                    </f:facet>
                    <h:outputText value="#{cartItem.quantity}"
                                  style="padding: 3px 10px 3px 10px"/>
                </o:column>
                <o:column bodyStyle="text-align: left">
                    <h:commandButton value="+" action="#{cartBean.add(cartItem.dish)}" styleClass="changeQuantityBtn">
                        <f:ajax execute="@all"
                                render=":headerCartInfo:cartSizeHeader :headerCartInfo:cartTotalPriceHeader :cartSizeBody :cartTotalPriceBody :cartTableForm"/>
                    </h:commandButton>
                </o:column>
                <o:column>
                    <f:facet name="header">
                        <h:outputText value="Total"/>
                    </f:facet>
                    <h:outputText value="#{cartItem.decimalPrice * cartItem.quantity}"
                                  style="padding: 3px 10px 3px 10px">
                        <f:convertNumber pattern="#0.00"/>
                    </h:outputText>
                </o:column>

            </o:dataTable>
        </h:form>
        <br/><br/>

        <t:div styleClass="centeredBlock">
            <h:form id="cartSubmitForm" rendered="#{cartBean.cartCount > 0}">
                <o:inputText id="description"
                             promptText="Your Phone Number"
                             style="background: beige; border: 2px solid brown; color: brown; font-weight: bold;"
                             focusedStyle="border: 2px solid orange;"
                             value="#{cartBean.clientsPhoneNumber}">
                </o:inputText><br/><br/>


                <h:commandButton id="cancelOrder" value="Cancel" action="#{cartBean.cleanCart}" styleClass="buttonMedium" immediate="true"/>
                <h:commandButton id="submitOrder" value="Submit" action="#{restaurantOrderBean.submitOrder(cartBean.cartItems, cartBean.orderOpenDate, cartBean.clientsPhoneNumber)}" styleClass="buttonMedium"/>
            </h:form>
        </t:div>
        <br/>

    </ui:define>

</ui:composition>