<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://myfaces.apache.org/tomahawk" xml:lang="en"
                lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                template="${request.contextPath}/e-kafe/templates/general.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Cart Message"/>
        </t:div>
        <t:div styleClass="shoppingCart">
            <h:form id="headerCartInfo">
                <h:panelGrid columns="2">
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:graphicImage library="images" name="shopping_cart.png"/>
                    </h:commandLink>
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:panelGroup>
                            <h:outputText id="cartSizeHeader" value="#{cartBean.cartCount} item(s)"/><br/>
                            <h:outputText id="cartTotalPriceHeader" value="#{cartBean.cartTotalPrice} UAH">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText><br/>
                        </h:panelGroup></h:commandLink>
                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>

    <ui:define name="content">

        <t:div style="margin-top: 20px; text-align: center">
            <h:outputText
                    value="Your Shopping Cart is empty! Please, choose few dishes before submit your order!"
                    style="font-size: 2em; font-weight: bold; padding: 20px"/><br/><br/>
            <h:outputLink value="cart.xhtml"
                          style="font-size: 2em; font-weight: bold; padding: 20px">Back to Cart</h:outputLink><br/><br/>
        </t:div>
    </ui:define>


</ui:composition>