<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                template="${request.contextPath}/e-kafe/templates/general.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <h:panelGrid id="headerGroup" columns="3" columnClasses="companyName, headerText, shoppingCart">
            <h:outputText value="E-kafe"/>
            <h:outputText value="Orders"/>
            <h:outputText value="Shopping cart"/>
        </h:panelGrid>
    </ui:define>

    <ui:define name="content">

        <h:outputText value="Sorry, something wrong happened. Try repeat your last action." style="font-size: 2em; font-weight: bold; padding: 20px"/>

    </ui:define>


</ui:composition>