<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general.xhtml">

    <ui:define name="title"><h:outputText value="Menu Page"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Our menu"/>
        </t:div>
        <t:div styleClass="shoppingCart">
            <h:form id="headerCartInfo">
                <h:panelGrid columns="2">
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:graphicImage library="images" name="shopping_cart.png"/>
                    </h:commandLink>
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:panelGroup>
                            <h:outputText id="cartSizeHeader" value="#{cartBean.cartCount} item(s)"/><br/>
                            <h:outputText id="cartTotalPriceHeader" value="#{cartBean.cartTotalPrice} UAH">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText><br/>
                        </h:panelGroup></h:commandLink>
                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>


    <ui:define name="content">
        <h:panelGrid styleClass="menuPanel" columns="2" columnClasses="menuNavigationPanel, dishPanel">
            <h:panelGroup layout="block">
                <h:form>

                    <ui:repeat value="#{foodCategoryBean.foodCategoriesOrdered}" var="f">
                        <h:commandLink value="#{f.name}" styleClass="foodCategoryLnk"
                                       action="#{dishBean.changeFoodCategory(f.id)}"/>
                        <br/>
                    </ui:repeat>
                </h:form>
            </h:panelGroup>
            <h:panelGroup layout="block">
               <t:div styleClass="dishNameMenu">
                   <h:outputText value="#{dishBean.currentFoodCategory.name}" style="padding: 5px; font-size: 16px;"/>
               </t:div>
                <h:form>
                    <h:dataTable id="dishesByFoodCategory"
                                 value="#{dishBean.dishesByFoodCategory}"
                                 var="d">
                        <h:column>
                            <f:facet name="header"/>
                            <h:graphicImage library="images" name="#{d.imgPath}"
                                            style="height: auto; width: 150px; margin-left: auto; margin-right: auto; padding: 0 20px 0 20px"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"/>
                            <h:commandLink value="#{d.name}" action="#{dishBean.getDishDetails(d.id)}"
                                           style="padding: 0 20px 0 20px"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"/>
                            <h:outputText value="#{d.description}" style="padding: 0 20px 0 20px"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"/>
                            <h:outputText value="#{dishBean.getDishPrice(d.id)}" style="padding: 0 20px 0 20px">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText>
                            <h:outputText value="UAH     "/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"/>

                            <h:commandButton value="Add to cart"
                                             action="#{dishBean.addToCart(d.id)}"
                                             style="margin: 0 20px">
                                <f:ajax execute="@all"
                                        render=":headerCartInfo:cartSizeHeader :headerCartInfo:cartTotalPriceHeader"/>
                            </h:commandButton>

                        </h:column>
                    </h:dataTable>
                </h:form>
            </h:panelGroup>
        </h:panelGrid>
    </ui:define>
</ui:composition>
