<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsf/composite"
                xmlns:o="http://openfaces.org/"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="${request.contextPath}/e-kafe/templates/general.xhtml">

    <ui:define name="title"><h:outputText value="Welcome to E-kafe"/></ui:define>
    <ui:define name="header">
        <t:div styleClass="ekafe">
            <h:outputText value="E-kafe"/>
        </t:div>
        <t:div styleClass="headerText">
            <h:outputText value="Welcome!"/>
        </t:div>
        <t:div styleClass="shoppingCart">
            <h:form id="headerCartInfo">
                <h:panelGrid columns="2">
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:graphicImage library="images" name="shopping_cart.png"/>
                    </h:commandLink>
                    <h:commandLink action="cart" styleClass="textLnk">
                        <h:panelGroup>
                            <h:outputText id="cartSizeHeader" value="#{cartBean.cartCount} item(s)"/><br/>
                            <h:outputText id="cartTotalPriceHeader" value="#{cartBean.cartTotalPrice} UAH">
                                <f:convertNumber pattern="#0.00"/>
                            </h:outputText><br/>
                        </h:panelGroup></h:commandLink>
                </h:panelGrid>
            </h:form>
        </t:div>
    </ui:define>

    <ui:define name="content">
        <t:div styleClass="welcomeContainer">
            <!--h:graphicImage library="images" name="e-kafe_img.png" styleClass="welcomeImage"/>
            <br/><br/-->
            <h:outputText styleClass="welcomePageText" value="Start making online orders today"/>
            <br/><br/>
            <h:form id="welcomeMenuForm">
                <h:panelGrid styleClass="welcomePageMenu" columns="4">
                    <h:panelGroup>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(1)}">
                            <h:graphicImage library="images" name="salads.png" styleClass="welcomeMenuImage"/>
                        </h:commandLink><br/><br/>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(1)}" styleClass="welcomeMenuLink" value="Salads"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(5)}">
                            <h:graphicImage library="images" name="main_course.png" styleClass="welcomeMenuImage"/>
                        </h:commandLink><br/><br/>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(5)}" styleClass="welcomeMenuLink" value="Main Course"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(3)}">
                            <h:graphicImage library="images" name="soups.png" styleClass="welcomeMenuImage"/>
                        </h:commandLink><br/><br/>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(3)}" styleClass="welcomeMenuLink" value="Soups"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(2)}">
                            <h:graphicImage library="images" name="desserts.png" styleClass="welcomeMenuImage"/>
                        </h:commandLink><br/><br/>
                        <h:commandLink action="#{dishBean.loadPageByFoodCategoryId(2)}" styleClass="welcomeMenuLink" value="Desserts"/>
                    </h:panelGroup>
                </h:panelGrid>
            </h:form>
        </t:div>

    </ui:define>


</ui:composition>